@font-face {
  font-family: "Junicode";
  src: url("orca-font:junicode-regular");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Junicode";
  src: url("orca-font:junicode-bold");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Junicode";
  src: url("orca-font:junicode-italic");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Junicode Cond";
  src: url("orca-font:junicode-cond");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Junicode Cond";
  src: url("orca-font:junicode-cond-semibold");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Recursive";
  src: url("orca-font:recursive-vf");
}
