@page {
  size: 5.5in 8.5in;
  margin-top: 0.8in;
  margin-bottom: 1in;
  @top-left { content: none; }
  @top-center { content: none; }
  @top-right { content: none; }
  @bottom-left { content: none; }
  @bottom-center { content: counter(page, decimal); font-family: "Alegreya", serif; font-variant-caps: normal; text-transform: none; letter-spacing: 0em; font-weight: normal; font-style: normal; }
  @bottom-right { content: none; }
}

@page :left {
  margin-left: 0.7in;
  margin-right: 0.95in;
  @top-left { content: "Jane Austen"; font-family: "Alegreya", serif; font-variant-caps: normal; text-transform: none; letter-spacing: 0em; font-weight: normal; font-style: normal; }
}

@page :right {
  margin-left: 0.95in;
  margin-right: 0.7in;
  @top-right { content: "Pride and Prejudice"; font-family: "Alegreya", serif; font-variant-caps: normal; text-transform: none; letter-spacing: 0em; font-weight: normal; font-style: normal; }
}

@page title-page {
  @bottom-center { content: counter(page, lower-roman); font-family: "Alegreya", serif; font-variant-caps: normal; text-transform: none; letter-spacing: 0em; font-weight: normal; font-style: normal; }
}

@page copyright {
  @bottom-center { content: counter(page, lower-roman); font-family: "Alegreya", serif; font-variant-caps: normal; text-transform: none; letter-spacing: 0em; font-weight: normal; font-style: normal; }
}

@page epigraph {
  @bottom-center { content: counter(page, lower-roman); font-family: "Alegreya", serif; font-variant-caps: normal; text-transform: none; letter-spacing: 0em; font-weight: normal; font-style: normal; }
}

@page contents {
  @bottom-center { content: counter(page, lower-roman); font-family: "Alegreya", serif; font-variant-caps: normal; text-transform: none; letter-spacing: 0em; font-weight: normal; font-style: normal; }
}

@page title-page:first {
  @top-left { content: none; }
  @top-right { content: none; }
  @bottom-center { content: none; }
}

@page copyright:first {
  @top-left { content: none; }
  @top-right { content: none; }
  @bottom-center { content: none; }
}

@page epigraph:first {
  @top-left { content: none; }
  @top-right { content: none; }
  @bottom-center { content: none; }
}

@page contents:first {
  @top-left { content: none; }
  @top-right { content: none; }
  @bottom-center { content: none; }
}

@page part:first {
  @top-left { content: none; }
  @top-right { content: none; }
  @bottom-center { content: none; }
}

@page chapter:first {
  @top-left { content: none; }
  @top-right { content: none; }
  @bottom-center { content: none; }
}

@page back-matter:first {
  @top-left { content: none; }
  @top-right { content: none; }
  @bottom-center { content: none; }
}

book {
  font-family: "EB Garamond", serif;
  font-size: 10.5pt;
  line-height: 14pt;
  text-align: justify;
  hyphens: auto;
  hanging-punctuation: none;
  orphans: 2;
  widows: 2;
}

p + p {
  text-indent: 1.2em;
}

hr + p {
  text-indent: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
  break-after: avoid;
}

h1 {
  font-weight: normal;
  font-style: normal;
  font-size: 17pt;
  font-variant-caps: normal;
  text-transform: none;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 98pt;
  margin-bottom: 0pt;
}

section > h1:first-child {
  padding-top: 98pt;
  margin-top: 0;
}

h2 {
  font-weight: normal;
  font-style: normal;
  font-size: 13pt;
  font-variant-caps: normal;
  text-transform: none;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 28pt;
  margin-bottom: 14pt;
}

section > h2:first-child {
  padding-top: 28pt;
  margin-top: 0;
}

h3 {
  font-weight: normal;
  font-style: normal;
  font-size: 19pt;
  font-variant-caps: normal;
  text-transform: none;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0pt;
  margin-bottom: 0pt;
}

section > h3:first-child {
  padding-top: 0pt;
  margin-top: 0;
}

h4 {
  font-weight: normal;
  font-style: normal;
  font-size: 19pt;
  font-variant-caps: normal;
  text-transform: none;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0pt;
  margin-bottom: 0pt;
}

section > h4:first-child {
  padding-top: 0pt;
  margin-top: 0;
}

h5 {
  font-weight: normal;
  font-style: normal;
  font-size: 19pt;
  font-variant-caps: normal;
  text-transform: none;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0pt;
  margin-bottom: 0pt;
}

section > h5:first-child {
  padding-top: 0pt;
  margin-top: 0;
}

h6 {
  font-weight: normal;
  font-style: normal;
  font-size: 19pt;
  font-variant-caps: normal;
  text-transform: none;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0pt;
  margin-bottom: 0pt;
}

section > h6:first-child {
  padding-top: 0pt;
  margin-top: 0;
}

section#title-page {
  page: title-page;
}

section#copyright {
  page: copyright;
}

section#a-note-on-the-text {
  page: epigraph;
}

section#contents {
  page: contents;
}

section#volume-the-first {
  page: part;
}

:is(section#chapter-twelve, section#chapter-fifteen) {
  page: chapter;
  break-before: recto;
}

section#acknowledgements {
  page: back-matter;
}

section#volume-the-first {
  counter-reset: page 1;
}

:is(section#chapter-twelve, section#chapter-fifteen) > :is(h1, h2, h3, h4, h5, h6):first-child + p::first-letter,
:is(section#chapter-twelve, section#chapter-fifteen) > :is(h1, h2, h3, h4, h5, h6):first-child + :is(h1, h2, h3, h4, h5, h6) + p::first-letter,
:is(section#chapter-twelve, section#chapter-fifteen) > :is(h1, h2, h3, h4, h5, h6):first-child + :is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) + p::first-letter {
  initial-letter: 3;
  font-family: "Alegreya", serif;
  font-weight: normal;
  font-style: normal;
}

:is(section#chapter-twelve, section#chapter-fifteen) > :is(h1, h2, h3, h4, h5, h6):first-child + p::first-line,
:is(section#chapter-twelve, section#chapter-fifteen) > :is(h1, h2, h3, h4, h5, h6):first-child + :is(h1, h2, h3, h4, h5, h6) + p::first-line,
:is(section#chapter-twelve, section#chapter-fifteen) > :is(h1, h2, h3, h4, h5, h6):first-child + :is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) + p::first-line {
  font-variant-caps: normal;
  text-transform: none;
  letter-spacing: 0em;
}

section > :is(h1, h2, h3, h4, h5, h6):first-child {
  string-set: chapter content();
}

section#title-page > * {
  text-align: center;
  text-indent: 0;
  margin: 0;
}

section#title-page > :first-child {
  padding-top: 84pt;
}

section#title-page > p + h1,
section#title-page > h1 + p {
  padding-top: 14pt;
}

section#title-page > p:last-child {
  padding-top: 140pt;
}

section#contents p {
  text-indent: 0;
  text-align: left;
  hyphens: manual;
  margin: 0;
}

section#contents p.entry {
  margin-left: 1em;
  padding-left: 1em;
  padding-right: 3em;
  text-indent: -1em;
}

section#contents p.folio {
  text-align: right;
  line-height: 0;
  position: relative;
  top: -7pt;
  break-before: avoid;
}

section#contents p.folio a::after {
  content: target-counter(attr(href url), page, decimal);
}

section#contents p.part {
  font-variant-caps: small-caps;
  letter-spacing: 0.08em;
  margin-top: 14pt;
  margin-bottom: 7pt;
  break-after: avoid;
}

hr {
  font-family: "Junicode", serif;
  font-weight: normal;
  font-style: normal;
  content: "⁂";
  margin-top: 14pt;
  margin-bottom: 14pt;
}
